<?xml version="1.0"?>
<robot name="marvin_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Base extracted from Robot_Description/urdf/marvin_pro/marvin_robot.urdf. -->
  <xacro:macro name="new_stand">
    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://marvin_description/meshes/base/new/ZJ_Robot_link.STL"/>
        </geometry>
        <material name="new_base_material">
          <color rgba="0.80000392 0.80000392 0.80000392 1"/>
        </material>
      </visual>
      <collision name="base_link_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.1" length="0.4"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0081994 -0.0000051 0.47835"
                rpy="0.0000623 0.0062721 0.0034744"/>
        <mass value="18.846"/>
        <inertia ixx="0.463463" ixy="0" ixz="0"
                 iyy="0.46325" iyz="0" izz="0.377657"/>
      </inertial>
    </link>

    <link name="tracking_base_link"/>
    <joint name="base_link_to_tracking_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="tracking_base_link"/>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
