<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Pro-m6-696">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000885090982553072 0.000594863336655871 0.393864441612288"
        rpy="0 0 0" />
      <mass
        value="73.8" />
      <inertia
        ixx="1.63396211040209"
        ixy="-0.00125697775844925"
        ixz="-9.74592909937035E-05"
        iyy="1.65663964009571"
        iyz="0.000353557770744909"
        izz="0.410329439994373" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1_R">
    <inertial>
      <origin
        xyz="0.00002347 0.00557150 -0.03075998"
        rpy="0 0 0" />
      <mass
        value="1.9705" />
      <inertia
        ixx="0.00492293"
        ixy="0.00000550"
        ixz="0.00000193"
        iyy="0.00526513"
        iyz="0.00033232"
        izz="0.00188107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link1_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link1_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_R"
    type="revolute">
    <origin
      xyz="-0.2005 0 1.121"
      rpy="1.5707963267949 0 -1.57079632689048" />
    <parent
      link="base_link" />
    <child
      link="Link1_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link2_R">
    <inertial>
      <origin
        xyz="0.00013483 0.06170460 0.00950639"
        rpy="0 0 0" />
      <mass
        value="2.24398" />
      <inertia
        ixx="0.01194933"
        ixy="0.00000336"
        ixz="0.00000091"
        iyy="0.00361581"
        iyz="-0.00132804"
        izz="0.01098356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link2_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link2_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_R"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link1_R" />
    <child
      link="Link2_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0944"
      upper="2.0944"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link3_R">
    <inertial>
      <origin
        xyz="0.00968562 0.00246599 -0.04627302"
        rpy="0 0 0" />
      <mass
        value="1.9242" />
      <inertia
        ixx="0.00718224"
        ixy="0.00004413"
        ixz="0.00089552"
        iyy="0.00762563"
        iyz="0.00022096"
        izz="0.00178597" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link3_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link3_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_R"
    type="revolute">
    <origin
      xyz="0 0.287 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link2_R" />
    <child
      link="Link3_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link4_R">
    <inertial>
      <origin
        xyz="0.00850411 -0.04718223 0.00941509"
        rpy="0 0 0" />
      <mass
        value="1.6085" />
      <inertia
        ixx="0.00580480"
        ixy="-0.00066669"
        ixz="-0.00012722"
        iyy="0.00223807"
        iyz="0.00070523"
        izz="0.00533060" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link4_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link4_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_R"
    type="revolute">
    <origin
      xyz="0.018 0 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link3_R" />
    <child
      link="Link4_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5307"
      upper="1.0472"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link5_R">
    <inertial>
      <origin
        xyz="-0.00051127 -0.00101064 -0.11271739"
        rpy="0 0 0" />
      <mass
        value="2.0883" />
      <inertia
        ixx="0.00626603"
        ixy="0.00004009"
        ixz="-0.00005338"
        iyy="0.00564387"
        iyz="0.00006193"
        izz="0.00243632" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link5_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link5_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5_R"
    type="revolute">
    <origin
      xyz="0.018 -0.314 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link4_R" />
    <child
      link="Link5_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link6_R">
    <inertial>
      <origin
        xyz="0.00032659 -0.00531336 0.00030182"
        rpy="0 0 0" />
      <mass
        value="0.72496" />
      <inertia
        ixx="0.00046040"
        ixy="-0.00000189"
        ixz="-0.00000083"
        iyy="0.00051716"
        iyz="-0.00000346"
        izz="0.00042521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link6_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link6_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6_R"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link5_R" />
    <child
      link="Link6_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.0472"
      upper="1.0472"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link7_R">
    <inertial>
      <origin
        xyz="-0.00009108 -0.03153255 0.00889371"
        rpy="0 0 0" />
      <mass
        value="0.68606" />
      <inertia
        ixx="0.00173687"
        ixy="-0.00000345"
        ixz="-0.00000116"
        iyy="0.00089035"
        iyz="0.00030680"
        izz="0.00139406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link7_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link7_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint7_R"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link6_R" />
    <child
      link="Link7_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="TCP_Link_R">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/TCP_Link_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/TCP_Link_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JointTCP_R"
    type="fixed">
    <origin
      xyz="0 -0.095 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link7_R" />
    <child
      link="TCP_Link_R" />
    <axis
      xyz="0 0 0" />
  </joint>
<link
    name="Link8_R">
    <inertial>
      <origin
        xyz="0.114173673705173 1.14500734671452E-07 0.0234553428952367"
        rpy="0 0 0" />
      <mass
        value="0.0880205156348504" />
      <inertia
        ixx="0.000108662771638114"
        ixy="-6.3925533063502E-10"
        ixz="-3.88093499443002E-05"
        iyy="0.000118230682353423"
        iyz="-2.130052703709E-10"
        izz="4.40320418563213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link8_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link8_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint8_R"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="TCP_Link_R" />
    <child
      link="Link8_R" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>

  <link
 name="Link_Right_wrist">
    <inertial>
      <origin
        xyz="0.0717359763450741 0.0442631391055814 -0.0224446909407665"
        rpy="0 0 0" />
      <mass
        value="5.38320568530609" />
      <inertia
        ixx="0.0152058025502204"
        ixy="-0.00178829198094161"
        ixz="-0.00146034276793319"
        iyy="0.0216384979545458"
        iyz="-0.00271933560557955"
        izz="0.0203994220827433" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link_Right_wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link_Right_wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_Right_wrist"
    type="fixed">
    <origin
      xyz="0.06 0 0.057822"
      rpy="-1.5707  -0.00012967 1.3615" /> />
    <parent
      link="Link8_R" />
    <child
      link="Link_Right_wrist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
name="Arm_R9_Link">
    <inertial>
      <origin
        xyz="0 0 0 "
        rpy="0 0 0" />
      <mass
        value="0.21436" />
      <inertia
        ixx="0.00017299"
        ixy="4.2904E-07"
        ixz="4.2578E-07"
        iyy="0.00021771"
        iyz="1.5375E-09"
        izz="9.8853E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_R9_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_R9_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_R9_Joint"
    type="fixed">
    <origin
        xyz="0 0 -0.038"
      rpy="-1.5708 0 -3.1416" />
    <parent
      link="Link8_R" />
    <child
      link="Arm_R9_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Arm_R10_Link">
    <inertial>
      <origin
        xyz="-0.00090072 -0.14322 0.057244"
        rpy="0 0 0" />
      <mass
        value="0.027748" />
      <inertia
        ixx="9.6216E-06"
        ixy="-9.9808E-08"
        ixz="1.7315E-08"
        iyy="3.5256E-06"
        iyz="-1.3005E-06"
        izz="1.0224E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_R10_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_R10_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_R10_Joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Arm_R9_Link" />
    <child
      link="Arm_R10_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.04"
      effort="30"
      velocity="0" />
  </joint>
  <link
    name="Arm_R11_Link">
    <inertial>
      <origin
        xyz="-0.00044761 1.9362 0.057244"
        rpy="0 0 0" />
      <mass
        value="0.027748" />
      <inertia
        ixx="9.6216E-06"
        ixy="-9.9808E-08"
        ixz="-1.7315E-08"
        iyy="3.5256E-06"
        iyz="1.3005E-06"
        izz="1.0224E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_R11_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_R11_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_R11_Joint"
    type="prismatic">
    <origin
      xyz="0.0013483 1.793 0"
      rpy="-3.1416 0 0" />
    <parent
      link="Arm_R9_Link" />
    <child
      link="Arm_R11_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.04"
      effort="30"
      velocity="0" />
   <mimic joint="Arm_R10_Joint" multiplier="1" offset="0" />
  </joint>
  <link
     name="Link1_L">
    <inertial>
      <origin
        xyz="0.00002347 0.00557150 -0.03075998"
        rpy="0 0 0" />
      <mass
        value="1.9705" />
      <inertia
        ixx="0.00492293"
        ixy="0.00000550"
        ixz="0.00000193"
        iyy="0.00526513"
        iyz="0.00033232"
        izz="0.00188107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link1_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link1_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_L"
    type="revolute">
    <origin
      xyz="0.2005 0 1.121"
      rpy="-1.5707963267949 0 -1.57079632689048" />
     <parent
      link="base_link" />
    <child
      link="Link1_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link2_L">
    <inertial>
      <origin
        xyz="0.00013483 0.06170460 0.00950639"
        rpy="0 0 0" />
      <mass
        value="2.24398" />
      <inertia
        ixx="0.01194933"
        ixy="0.00000336"
        ixz="0.00000091"
        iyy="0.00361581"
        iyz="-0.00132804"
        izz="0.01098356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link2_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link2_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_L"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link1_L" />
    <child
      link="Link2_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0944"
      upper="2.0944"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link3_L">
    <inertial>
      <origin
        xyz="0.00968562 0.00246599 -0.04627302"
        rpy="0 0 0" />
      <mass
        value="1.9242" />
      <inertia
        ixx="0.00718224"
        ixy="0.00004413"
        ixz="0.00089552"
        iyy="0.00762563"
        iyz="0.00022096"
        izz="0.00178597" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link3_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link3_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_L"
    type="revolute">
    <origin
      xyz="0 0.287 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link2_L" />
    <child
      link="Link3_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link4_L">
    <inertial>
      <origin
        xyz="0.00850411 -0.04718223 0.00941509"
        rpy="0 0 0" />
      <mass
        value="1.6085" />
      <inertia
        ixx="0.00580480"
        ixy="-0.00066669"
        ixz="-0.00012722"
        iyy="0.00223807"
        iyz="0.00070523"
        izz="0.00533060" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link4_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link4_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_L"
    type="revolute">
    <origin
      xyz="0.018 0 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link3_L" />
    <child
      link="Link4_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5307"
      upper="1.0472"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link5_L">
    <inertial>
      <origin
        xyz="0.00051127 0.00101064 -0.11271739"
        rpy="0 0 0" />
      <mass
        value="2.0883" />
      <inertia
        ixx="0.00626603"
        ixy="0.00004009"
        ixz="0.00005338"
        iyy="0.00564387"
        iyz="-0.00006193"
        izz="0.00243632" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link5_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link5_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5_L"
    type="revolute">
    <origin
      xyz="0.018 -0.314 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link4_L" />
    <child
      link="Link5_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link6_L">
    <inertial>
      <origin
        xyz="0.00032659 0.00531336 -0.00030182"
        rpy="0 0 0" />
      <mass
        value="0.72496" />
      <inertia
        ixx="0.00046040"
        ixy="0.00000189"
        ixz="0.00000083"
        iyy="0.00051716"
        iyz="-0.00000346"
        izz="0.00042521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link6_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link6_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6_L"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link5_L" />
    <child
      link="Link6_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.0472"
      upper="1.0472"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link7_L">
    <inertial>
      <origin
        xyz="-0.00009108 -0.03153255 0.00889371"
        rpy="0 0 0" />
      <mass
        value="0.68606" />
      <inertia
        ixx="0.00173687"
        ixy="-0.00000345"
        ixz="-0.00000116"
        iyy="0.00089035"
        iyz="0.00030680"
        izz="0.00139406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link7_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link7_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint7_L"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link6_L" />
    <child
      link="Link7_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="TCP_Link_L">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/TCP_Link_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/TCP_Link_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JointTCP_L"
    type="fixed">
    <origin
      xyz="0 -0.095 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link7_L" />
    <child
      link="TCP_Link_L" />
    <axis
      xyz="0 0 0" />
  </joint>
<link
    name="Link8_L">
    <inertial>
      <origin
        xyz="1.1276190270415E-07 -0.11417365347384 0.0234553552836059"
        rpy="0 0 0" />
      <mass
        value="0.088020543548932" />
      <inertia
        ixx="0.000118230671508944"
        ixy="6.60824120380282E-10"
        ixz="-2.10338428639125E-10"
        iyy="0.00010866282572157"
        iyz="3.88093041447579E-05"
        izz="4.4031984148421E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link8_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link8_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint8_L"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="TCP_Link_L" />
    <child
      link="Link8_L" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
<link
    name="Link_Left_wrist">
    <inertial>
      <origin
        xyz="0.022446638135212 0.0442631448823432 0.0717353604419828"
        rpy="0 0 0" />
      <mass
        value="5.38320837672175" />
      <inertia
        ixx="0.0203995050043586"
        ixy="0.00271928690211307"
        ixz="0.00146020444332052"
        iyy="0.0216385038249464"
        iyz="-0.00178836359279817"
        izz="0.0152057269287356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link_Left_wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Link_Left_wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_Left_wrist"
    type="fixed">
    <origin
     xyz="0.06 0 0.057822"
      rpy="-1.5707  -0.00012967 1.3615" />
    <parent
      link="Link8_L" />
    <child
      link="Link_Left_wrist" />
    <axis
      xyz="0 0 0" />
  </joint>
<link
    name="Arm_L9_Link">
    <inertial>
      <origin
        xyz="-0.0015934 -0.085718 1.7355E-06"
        rpy="0 0 0" />
      <mass
        value="0.21436" />
      <inertia
        ixx="0.00017299"
        ixy="4.2902E-07"
        ixz="4.2581E-07"
        iyy="0.00021771"
        iyz="1.6026E-09"
        izz="9.8853E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_L9_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_L9_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_L9_Joint"
    type="fixed">
    <origin
         xyz="0 0 -0.038"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link8_L" />
    <child
      link="Arm_L9_Link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Arm_L10_Link">
    <inertial>
      <origin
        xyz="-0.00090072 -0.14322 0.057244"
        rpy="0 0 0" />
      <mass
        value="0.027748" />
      <inertia
        ixx="9.6216E-06"
        ixy="-9.9808E-08"
        ixz="1.7315E-08"
        iyy="3.5256E-06"
        iyz="-1.3005E-06"
        izz="1.0224E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_L10_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_L10_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_L10_Joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Arm_L9_Link" />
    <child
      link="Arm_L10_Link" />
    <axis
       xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.04"
      effort="30"
      velocity="0" />
  </joint>
  <link
    name="Arm_L11_Link">
    <inertial>
      <origin
        xyz="0.00090072 -0.14322 -0.057244"
        rpy="0 0 0" />
      <mass
        value="0.027748" />
      <inertia
        ixx="9.6216E-06"
        ixy="9.9808E-08"
        ixz="1.7315E-08"
        iyy="3.5256E-06"
        iyz="1.3005E-06"
        izz="1.0224E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_L11_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Arm_L11_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_L11_Joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Arm_L9_Link" />
    <child
      link="Arm_L11_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.04"
      effort="30"
      velocity="0" />
     <mimic joint="Arm_L10_Joint" multiplier="1" offset="0" />
  </joint>
  <link
    name="Head depth_Link">
    <inertial>
      <origin
        xyz="0.00755197792752615 0.0447149871314828 -0.0282323085850665"
        rpy="0 0 0" />
      <mass
        value="4.00876011930735" />
      <inertia
        ixx="0.0151893718782562"
        ixy="-0.00202479695320327"
        ixz="0.00108721503813786"
        iyy="0.0161114261843125"
        iyz="0.00133158298194532"
        izz="0.0113221906411678" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Head depth_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Head depth_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Head depth_Joint"
    type="fixed">
    <origin
      xyz="0 -0.103394958759943 1.24613640461494"
      rpy="1.13446401379639 0 0" />
    <parent
      link="base_link" />
    <child
      link="Head depth_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Left monocular_Link">
    <inertial>
      <origin
        xyz="0.0224464348785418 0.0442624071873999 0.0717340002909298"
        rpy="0 0 0" />
      <mass
        value="5.38323779038824" />
      <inertia
        ixx="0.0204001359756595"
        ixy="0.00271931213524565"
        ixz="0.00146016343177208"
        iyy="0.0216388605995822"
        iyz="-0.00178861862822358"
        izz="0.015205712997975" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Left monocular_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Left monocular_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left monocular_Joint"
    type="fixed">
    <origin
      xyz="0.0299997989500314 -0.0864638087460958 1.23304305723052"
      rpy="0.610866926014432 0 0" />
    <parent
      link="base_link" />
    <child
      link="Left monocular_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Right monocular_Link">
    <inertial>
      <origin
        xyz="-0.0375535523419985 0.0442624126043057 0.0717339894106565"
        rpy="0 0 0" />
      <mass
        value="1.48453680117654" />
      <inertia
        ixx="0.00562574880130156"
        ixy="0.000749904930515956"
        ixz="0.00040266994380895"
        iyy="0.00596735243559861"
        iyz="-0.000493247319623666"
        izz="0.00419328189099375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Right monocular_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Pro-m6-696/meshes/Right monocular_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right monocular_Joint"
    type="fixed">
    <origin
      xyz="-0.0300002010092513 -0.0864638087762084 1.23304305725925"
      rpy="0.610866926014432 0 0" />
    <parent
      link="base_link" />
    <child
      link="Right monocular_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>